<h2>Comments</h2>

<ol>
  <% @comments.sort.reverse.each do |comment| %>
    <% author = User.find(comment.author_id) %>
    <% article = Article.find(comment.article_id) %>
    <li>
      <p class="lead well">
        <span class="small-link">
          <%= link_to author.username, user_path(author) %>
          <%= time_ago_in_words(article.created_at)%> ago |
          <%= link_to 'link', comment %> |
          <%#= link_to 'parent', comment_path(Comment.find(comment.parent_comment_id)) %> |
          <%= link_to article.title, article_path(article) %>
        </span>
        <br>
        <%= comment.body %>
      </p>
    </li>
  <% end %>
</ol>