<h2>Edit user</h2>

<%= form_for(@user) do |f| %>
  <%= f.label :about, "About me" %>
  <%= f.text_area :about %><br>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.submit 'Edit' %>
<% end %>