<!DOCTYPE html>
<html>
<head>
  <title>FakerNews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header">
  <h1>Faker News <small>Your source for news</small></h1>
  <p class = "toggle-login"><%= login_toggle_tag %><p>
  <%= render partial: "shared/nav" %>
</div>
<%= flash_alerts %>
<div class = "container"><%= yield %></div>

</body>
</html>
